<div class="row">
  <ol class="breadcrumb">
    <li><a href="#"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
    <li class="active">Dashboard</li>
  </ol>
</div><!--/.row-->

<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Dashboard</h1>
  </div>
</div><!--/.row-->

<div class="row">
  <div class="col-xs-12 col-md-6 col-lg-3">
    <div class="panel panel-blue panel-widget ">
      <div class="row no-padding">
        <div class="col-sm-3 col-lg-5 widget-left">
          <svg class="glyph stroked desktop"><use xlink:href="#stroked-desktop"/></svg>
        </div>
        <div class="col-sm-9 col-lg-7 widget-right">
          <div class="large">60</div>
          <div class="text-muted">Computers</div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-md-6 col-lg-3">
    <div class="panel panel-orange panel-widget">
      <div class="row no-padding">
        <div class="col-sm-3 col-lg-5 widget-left">
          <svg class="glyph stroked empty-message"><use xlink:href="#stroked-empty-message"></use></svg>
        </div>
        <div class="col-sm-9 col-lg-7 widget-right">
          <div class="large">52</div>
          <div class="text-muted">Comments</div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-md-6 col-lg-3">
    <div class="panel panel-teal panel-widget">
      <div class="row no-padding">
        <div class="col-sm-3 col-lg-5 widget-left">
          <svg class="glyph stroked male-user"><use xlink:href="#stroked-male-user"></use></svg>
        </div>
        <div class="col-sm-9 col-lg-7 widget-right">
          <div class="large">53</div>
          <div class="text-muted">Users</div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-md-6 col-lg-3">
    <div class="panel panel-red panel-widget">
      <div class="row no-padding">
        <div class="col-sm-3 col-lg-5 widget-left">
          <svg class="glyph stroked clipboard with paper"><use xlink:href="#stroked-clipboard-with-paper"/></svg>
        </div>
        <div class="col-sm-9 col-lg-7 widget-right">
          <div class="large">5</div>
          <div class="text-muted">Tasks</div>
        </div>
      </div>
    </div>
  </div>
</div><!--/.row-->